<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Angular-sidebar</title>
        <link href="../assets/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <link href="../assets/css/style.css" rel="stylesheet">
        <link href="../assets/css/style-responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../assets/css/sweetalert.css">
    </head>
    <body>
    	<div class="col-md-2 col-sm-2 col-xs-2 sidebar">
    		<div class="app_icon">
    			<img src="../assets/img/app_icon.png">
    		</div>
    		<ul class="sidebar-menu">
                <li>
                    <a routerLink="/users" class="adduser">
                        <span>Manage User</span>
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </a>
                </li>

    			<!-- <li>Manage User</li> -->
    			<li>menu 2</li>
    			<li>menu 3</li>
    		</ul>
            <!-- this.router.url === '/login' -->
    	</div>
    </body>
</html>